@use "../components/stats/stats.scoped.scss";
@use "../components/sideBar/sideBar.scoped.scss";

.dashboard {
    display: flex;
    flex: 1;
    min-height: 100%;
    height: auto;
    width: 100%;

    .dashboardSection {
        width: auto;
        flex: 1;
        padding: 50px;
    }

    // .statsSection {
    //     width: 100%;
    // }
}