@use "../components/stats/stats.scoped.scss";
@use "../components/sideBar/sideBar.scoped.scss";

.dashboard {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    min-height: calc(780px - 91px);

    .dashboardSection {
        padding: 40px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        gap: 15px;
    }
}