@use "../stats/stats.scoped.scss";
@use "../sideBar/sideBar.scoped.scss";

.dashboard {
    display: flex;
    height: 100%;
    width: 100%;

    .sideBarSection {
        max-width: 115px;
        width: 115px;
    }

    .dashboardSection {
        width: 100%;
        padding: 50px;
    }

    .statsSection {
        width: 100%;
    }
}