.welcome {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 10%;
    justify-content: flex-end;
}

.welcomeMessage {
    font-weight: 500;
    font-size: 42px;
}

.congratsMessage {
    font-size: 16px;
}

#welcomeName {
    color: #ff0101;
}