.stats {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 84%;
    
    .graphSection {
        width: 78%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        
        .daily {
            width: 100%;
            height: 52%;
            background-color: #FBFBFB;
            border-radius: 5px;
        }

        .detailsGraph {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 44%;
        }
    }

    .valuesSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        height: 100%;
        
        .values {
            height: 18%;
            width: 96%;
            background-color: #FBFBFB;
            padding: 2%;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            @media (min-width: 1024px){
                gap: 12px;
            }

            .valueIcon {
                display: flex;
                width: 50px;
                height: 50px;
                justify-content: center;
                align-items: center;
                border-radius: 7px;
                margin-left: 20px;

                @media (min-width: 1024px){
                    width: 40px;
                    height: 40px;
                }
            }

            #calories {
                background-color: #fa717135;
            }
            #proteines {
                background-color: #4AB8FF1A;
            }
            #glucides {
                background-color: #fff1ba97;
            }
            #lipides {
                background-color: #FD51811A;
            }

            .value {

                .number {
                    font-weight: 700;
                    font-size: 20px;
                    @media (min-width: 1024px ){
                        font-size: 16px;
                    }
                }

                .type {
                    font-weight: 300;
                    font-size: 10px;
                    color: grey;
                }
            }
        }
    }
}

.errorText {
    font-size: 25px;
    position: absolute;
    top: 120px;
}